<div ng-controller="clientCtrl">
	<div class="erp-information">
	<input type="text" ng-model="searchText" placeholder="Search by company Name" class="search-text" autofocus>
		<div>
			<md-button class="md-raised" ng-click="showAddNewClient($event);"  ng-init="populateClientList();flag=0">ADD
			NEW CLIENT</md-button>
		</div>
		  <h1 class="table-header">CLIENT LIST</h1>
		<table>
			<tr>
				<th>COMPANY NAME</th>
				<th>EMAIL ID</th>
				<th>CONTACT NUMBER</th>
				<th>ACTION</th>
			</tr>
			<tr ng-repeat=" clients in data |  filter:{ companyname: searchText }" >
				<td>{{clients.companyname}}</td>
				<td>{{clients.emailid}}</td>
				<td>{{clients.contactnumber}}</td>
				<td>
				     <md-button class="md-raised"  ng-click="showEditClient($event,$index)" ng-init="flag=1">EDIT</md-button>
				<!-- <md-button class="md-raised" ng-click="showConfirm($event)">REMOVE</md-button> -->
				<md-button class="md-raised"  ng-click="showConfirm($event,$index)">Remove</md-button>
				
				<md-button class="md-raised" ng-click="viewClientInformation($event,$index)">VIEW</md-button>
				</td>
				
			</tr>
		</table>
		
		<div ng-show="isClientPresent" class="active-information">
			 Currently there are no active clients.Please add new Clients.
		</div>



	</div>

</div>
