<div ng-controller="dispatchQuantityCtrl">
   <div class="erp-security">
   <div class="qualitycheck">
      <div class="header">DISPATCH QUANTITY</div>
      <div class="qualityInspection">
      <form  name="dispatchQuantityInformation" novalidate >
   <div  >
   <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm type="password">
          
             <label style="color: black;font-weight: bold;">Product Order </label>
          <md-select ng-model="order.id"  ng-disabled="isReadOnly" ng-init="populateProductOrderPendingList()" name="productOrder"  ng-change="getDispatchquantity($index)" required>
            <md-option ng-repeat="order in productOrders" ng-value="order.id" >
               {{order.invoiceNo}}
            </md-option>
             <div ng-messages="dispatchQuantityInformation.productOrder.$error">
                 <div ng-message="required">Please select Product </div>
              </div>
          </md-select>
          </md-input-container>
   </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
            <label  class="input-filed-label">INVOICE ID</label>
            <input type="text" required name="invoiceid" ng-model="invoice" >
             <div ng-messages="dispatchQuantityInformation.invoiceid.$error">
            <div ng-message="required">Please enter Invoice ID</div>
           
          </div>
          </md-input-container>
    </div>
     <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
            <label  class="input-filed-label">DESCRIPTION</label>
            <input type="text" required name="description" ng-model="description" >
             <div ng-messages="dispatchQuantityInformation.description.$error">
            <div ng-message="required">Please enter Description</div>
           
          </div>
          </md-input-container>
    </div>
    <table >
        <tr>
          <th>PART NUMBER</th>
          <th>REMAINING QUANTITY</th>
          <th>QUANTITY</th>
        </tr>
        <tr ng-repeat="orderProduct in orderProductList">
          <td>{{orderProduct.product.partNumber}}</td>
          <td>{{orderProduct.remainingQuantity}}</td>
          <td><input type="number" ng-model="orderProduct.quantity" max="{{orderProduct.remainingQuantity}}" name="quantity">
             <div ng-show="dispatchQuantityInformation.quantity.$error.max" style="color: red;">The value must be in range 0 to {{orderProduct.remainingQuantity}}!</div>
          </td>
        </tr>
         
        </table>
         <div style="margin-top: 5%;margin-left: 75%;padding-bottom: 20px">
         <md-dialog-actions layout="row">
      <md-button class="md-raised" ng-click="submitInformation(dispatchQuantityInformation.$valid,$event)" type="submit" ng-disabled="isReadOnly">SAVE</md-button>
      <md-button class="md-raised" >CANCEL</md-button>
    </md-dialog-actions>
        </div>
   </div>
   </form>
      
      </div>
   </div>
</div>
   
</div>