<div ng-controller="loginCtrl">
<div class="loginClass" >
   <form class="login-form" name="myForm"  novalidate>
<fieldset>
<div >
<div class="loginForm">
 <!-- <div class="form-group" ng-class="{ 'has-error' : myForm.userName.$invalid && !myForm.userName.$pristine }"> -->
<div>
		<md-input-container class="md-block" flex-gt-sm>
            <label>User name</label>
            <input type="text" ng-model="userid" name="userName" id="userName" required>
          </md-input-container>

</div>
<div class="password-container">
             <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input type="password" ng-model="password" name="password" id="password" required> 
          </md-input-container>
<span class="forgot"><a href="" class="forgotLink" style="color: blue">Forgot?</a></span>
      
</div>

<label style="color: red;">{{userid}}</label>
<div layout-gt-sm="row">
<div style="margin-left: 4%"><md-button class="md-raised md-primary" ng-click="login(userid)">LOGIN</md-button></div>
 <md-button class="md-primary" ng-href="{{googleUrl}}" target="_blank">New User? sign in</md-button>
</div>
</div>
</div>
</fieldset>
</form>
</div>
</div>