<div ng-controller="notificationCtrl">
	<div class="erp-information">
		<div>
			<md-button class="md-raised md-primary add-new-btn"
				ng-click="addNewNotification($event);"
				ng-init="populateNotificationList();flag=0">ADD NEW NOTIFICATION</md-button>
		</div>
		<md-input-container class="md-block" flex-gt-sm type="password" style="margin-left:2%">
		<input type="text" ng-model="searchText" name="password"
			placeholder="Search by Name" class="search-text"> </md-input-container>
		<h1 class="table-header">NOTIFICATION LIST</h1>
		<table>
			<tr>
				<th>NO</th>
				<th>NAME</th>
				<th>TYPE</th>
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="notification in notificationList  | startFrom:currentPage*pageSize | limitTo:pageSize |  filter:{ pageName: searchText }">
				<td>{{(currentPage*pageSize) + ($index+1) }}</td>
				<td>{{notification.name}}</td>
				<td>{{notification.type}}</td>
				<td style="text-align: center;"><md-button class="md-raised"
						ng-click="showEditNotification($event,$index)" ng-init="flag=1" style="background: rgba(63, 81, 181, 0.72);color: white;">EDIT</md-button>
					<md-button class="md-raised" ng-click="showConfirm($event,$index)" style="background: rgba(63, 81, 181, 0.72);color: white;">Remove</md-button>

					<md-button class="md-raised"
						ng-click="viewNotificationInformation($event,$index)" style="background: rgba(63, 81, 181, 0.72);color: white;">VIEW</md-button></td>

			</tr>
		</table>
		<md-dialog-actions layout="row" style="background: rgb(230, 230, 230);margin-left:30%;margin-top:2%"> <md-button
		class="md-raised"
		type="button" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous Page</md-button> <md-button
		class="md-raised" ng-disabled="currentPage >= notificationList.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next Page</md-button>
	</md-dialog-actions>
		<div ng-show="isNotificationPresent">Currently there are no active
			Page.Please add new Page.</div>
	</div>
</div>
