<div ng-controller="pageCtrl">
<div class="erp-information">
	<!-- <input type="text" ng-model="searchText" placeholder="Search by page Name" class="search-text" autofocus> -->
    <div>
			<md-button class="md-raised md-primary" ng-click="showAddNewPage($event);"  ng-init="populatePageList();flag=0" style=" background-color: rgb(126, 137, 213);">ADD NEW PAGE</md-button>
		</div>
      <h1 class="table-header">PAGE LIST</h1>
       <md-input-container class="md-block" flex-gt-sm type="password">
			<input type="text"  ng-model="searchText"  name="password" placeholder="Search by Name" class="search-text">
			</md-input-container>
      
  <table>
			<tr>
				<th>MENU</th>
				<th>PAGE NAME</th>
				<th>SUBMENU</th>
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="page in data |  filter:{ pageName: searchText }">
				<td>{{page.menu}}</td>
				<td>{{page.pageName}}</td>
				<td>{{page.submenu}}</td>
				<!-- <td>{{units.createdDate}}</td>
				<td>{{units.updatedDate}}</td> -->
				<td>
				     <md-button class="md-raised"  ng-click="showEditPage($event,$index)" ng-init="flag=1">EDIT</md-button>
				<!-- <md-button class="md-raised" ng-click="showConfirm($event)">REMOVE</md-button> -->
				<md-button class="md-raised"  ng-click="showConfirm($event,$index)">Remove</md-button>
				
				<md-button class="md-raised" ng-click="viewPageInformation($event,$index)">VIEW</md-button>
				</td>
				
			</tr>
		</table>
		<div ng-show="isUnitInPresent">
		   Currently there are no active Units.Please add new unit.
		</div>
</div>
</div>