<div ng-controller="productInventoryCtrl">
	<div class="erp-information">
		<div>
			<md-button class="md-raised md-primary add-new-btn"
				ng-click="showAddNewProductInventory($event)"
				ng-init="populateProductInventoryList();flag=0">ADD NEW
			PRODUCT INVENTORY</md-button>
		</div>
		<md-input-container class="md-block" flex-gt-sm type="password">
		<input type="text" ng-model="searchText" name="password"
			placeholder="Search by  Name" class="search-text"> </md-input-container>
		<h1 class="table-header">PRODUCT INVENTORY LIST</h1>
		<table>
			<tr>
				<th>PRODUCT</th>
				<th>AVAILBLE QUANTITY</th>
				<!-- <th>NAME</th> -->
				<th>RACK NUMBER</th>
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="productInventory in data.data">
				<td>{{productInventory.product.name}}</td>
				<td>{{productInventory.quantityavailable}}</td>
				<td>{{productInventory.racknumber}}</td>
				<td><md-button class="md-raised"
						ng-click="showEditProductInventory($event,$index)"
						ng-init="flag=1">EDIT</md-button> <!-- <md-button class="md-raised" ng-click="showConfirm($event)">REMOVE</md-button> -->
					<md-button class="md-raised" ng-click="showConfirm($event,$index)">Remove</md-button>

					<md-button class="md-raised"
						ng-click="viewProductInventoryInformation($event,$index)">VIEW</md-button>
				</td>

			</tr>
		</table>
		<div ng-show="isProductInventoryPresent" class="active-information">Currently
			there are no active Product inventorys.Please add new Product
			inventory.</div>
	</div>
</div>
