<div ng-controller="prodcutQualityCheckCtrl">
<div class="erp-security">
    <div class="qualitycheck">
     <div class="header">QUALITY INSPECTION</div>
        <div class="qualityInspection">
           <form name="productQualityCheckInformation"  novalidate  style="width: 70%">
              <div class="productQualityCheck">
                 <div align="right">
      				 <div style="font-weight: bold;">
             		<span>Date</span>
            		 <span>{{currentDate}}</span>
          			</div>
       			</div> 
       			
   				  <div layout-gt-sm="row">
      <md-input-container> <label style="color: black;">Product Id
			</label> <md-select ng-model="selectedProductionPlan" name="productName"
			 ng-required="true" required ng-init="getProductionPlanByDate()" ng-change="getTodaysProductionPlan($index)"> <md-option
			ng-repeat="productionPlan in productionPlans" ng-value="productionPlan">
		{{productionPlan.product.name}}</md-option> </md-select>
		<div ng-messages="productQualityCheckInformation.productName.$error">
			<div ng-message="required">Please Select Product Id</div>
		</div>
		</md-input-container>
    </div>
   				 <div layout-gt-sm="row">
   				   <md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">Product Quantity</label> <input
				type="number" ng-model="selectedProductionPlan.targetQuantity" name="productQuantity"  ng-disabled="true">
			<div ng-messages="productQualityCheckInformation.productQuantity.$error">
				<div ng-message="required">Please enter Target Quantity</div>
			</div>
			</md-input-container>
   				 </div>
   				  <div layout-gt-sm="row">
   				   <md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">Pass Quantity</label> <input
				type="number" ng-model="QCPassQuantity" name="passQuantity" ng-change="">
			<div ng-messages="productQualityCheckInformation.productQuantity.$error">
				<div ng-message="required">Please enter pass Quantity</div>
			</div>
			</md-input-container>
   				 </div>
   				 <div layout-gt-sm="row">
   				   <md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">Fail Quantity</label> <input
				type="number" ng-model="QCFailQuantity" name="failQuantity">
			<div ng-messages="productQualityCheckInformation.failQuantity.$error">
				<div ng-message="required">Please enter Fail Quantity</div>
			</div>
			</md-input-container>
   				 </div>
   				 <div layout-gt-sm="row">
   				   <md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">Remark</label> <input
				type="text" ng-model="remark" name="remark">
			<div ng-messages="productQualityCheckInformation.remark.$error">
				<div ng-message="required">Please enter Remark</div>
			</div>
			</md-input-container>
   				 </div>
   				   <div style="margin-top: 5%;margin-left: 70%;padding-bottom: 20px">
             <md-dialog-actions layout="row">
      <md-button class="md-raised" ng-click="submitProductQualityCheckInformation(productQualityCheckInformation.$valid)" ng-disabled="isReadOnly"  type="submit">SAVE</md-button>
      <md-button class="md-raised" ng-click="answer('not useful')">CANCEL</md-button>
    </md-dialog-actions>
        </div>
              </div>
           </form>
        </div>
    </div>
</div>
</div>