<div ng-controller="productionPlanCtrl">
<div class="erp-information" ng-init="getProductList()">
<p style="font-weight: bold;font-size: 20px">PRODUCTION PLAN</p>
<form  name="qualityInspectionForm" novalidate style="width: 900px">
<fieldset>
<div class="">
<table>
   <tr>
       <th>Product</th>
       <th>{{today | date:'dd-MM-yyyy'}}</th>
       <th>{{tomorrow | date:'dd-MM-yyyy'}}</th>
       <th>{{day_after_tomorrow | date:'dd-MM-yyyy'}}</th>
       <th>{{fourt_day_date | date:'dd-MM-yyyy'}}</th>
       <th>{{fifth_day_date | date:'dd-MM-yyyy'}}</th>
       <th>{{sixth_day_date| date:'dd-MM-yyyy'}}</th>
       <th>{{seventh_day_date| date:'dd-MM-yyyy'}}</th>
   </tr>
    <!--  <tr>
       <th>Product</th>
       <th>{{today | date:'dd-MM-yyyy'}}</th>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
   </tr> -->
   <tr ng-repeat="product in products">
      <td>{{product.product_id}}</td>
      <td ng-repeat="productionPlan in product.production_plan">
         <input type="number" style="width: 80px" ng-model="productionPlan.product_quantity">
      </td>
     <!--  <th>
      <input type="number" style="width: 80px">
      </th> -->
      <!-- <th>
      <input type="number" style="width: 80px">
      </th>
      <th>
         <input type="number" style="width: 80px">
      </th>
      <th>
         <input type="number" style="width: 80px">
      </th>
      <th>
      <input type="number" style="width: 80px">
      </th>
      <th>
      <input type="number" style="width: 80px">
      </th> -->
   </tr>
</table>
</div>
<div style="margin-left: 70%;margin-top: 2%">
  <md-dialog-actions layout="row">
      
      <!-- <md-button class="md-raised" ng-click="saveUser($event)" >SAVE</md-button> -->
      <md-button class="md-raised" ng-click="submitVendorInformation(vendorInformation.$valid,$event)" ng-disabled="isReadOnly" >SAVE</md-button>
      <md-button class="md-raised" ng-click="answer('not useful')">CANCEL</md-button>
    </md-dialog-actions>
    </div>
</fieldset>

</form>
</div>
</div>