<div ng-controller="productStoreCtrl">
<div class="erp-security" ng-init="getProductionPlanByDate()" >
<form name="productStoreForm" novalidate>
 <div class="header">PRODUCT STORE</div>
  <div style="" class="product-store-date">
             <span>Date</span>
             <span>{{currentDate}}</span>
          </div>
     <table>
        <tr >
          <th>PRODUCT ID</th>
          <th>TARGET QUANTITY</th>
          <th>QC PASS QUANTITY</th>
          <th>PASS QUANTITY</th>
          <th>REMARK</th>
        </tr>
        <tr ng-repeat="productionplan in productionPlans">
           <td>{{productionplan.product.partNumber}}</td>
           <td>{{productionplan.targetQuantity}}</td>
           <td>{{productionplan.qualityCheckedQuantity}}</td>
           <td><md-input-container class="md-block" flex-gt-sm>
				<input type="number" ng-model="productionplan.passQuantity" name="passQuantity" required>
				<div ng-messages="productStoreForm.passQuantity.$error">
             		<div ng-message="required">please enter Pass Quantity </div>
            	</div>
				</md-input-container></td>
			<td>
			   <md-input-container class="md-block" flex-gt-sm>
				<input type="text" ng-model="productionplan.remark" name="remark">
				<div ng-messages="productStoreForm.remark.$error">
             		<div ng-message="required">please enter Remark </div>
            	</div>
				</md-input-container>
			</td>
        </tr>
     </table>
      <div class="quality-btn">
             <md-dialog-actions layout="row">
      <md-button class="actionButton"  ng-disabled="isReadOnly" ng-click="submitInformation(productStoreForm.$valid,$event)" style="" type="submit">SAVE</md-button>
      <md-button class="actionButton" ng-click="cancelProductStore()" style="">CANCEL</md-button>
    </md-dialog-actions>
        </div>
      </form>  
</div>

</div>