<md-dialog aria-label="" style="min-width: 85%;margin-left: 13%;height: 100%;margin-top:2%" >
  <form name="productRMAssociationInformation"  novalidate>
  
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{information}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content >
      <div class="md-dialog-content" >
       
      
      <div layout-gt-sm="row">
          <md-input-container ng-init="getRawMaterials()">
          <label style="color: black;">RAW MATERIAL*</label>
          <md-select ng-model="productRmAsso.rawmaterial.id" name="rawmaterial"  ng-disabled="isReadOnly" ng-required="true"  ng-init="rawMaterialId()">
            <md-option ng-repeat="rawMaterial in RMData" ng-value="rawMaterial.id" >
               {{rawMaterial.name}}
            </md-option>
          </md-select>
          <div ng-messages="productRMAssociationInformation.rawmaterial.$error">
                 <div ng-message="required">Please Select Raw Material</div>
              </div>
        </md-input-container>
        </div>
         <div layout-gt-sm="row">
          <md-input-container ng-init="getProducts()">
          <label style="color: black;">PRODUCT*</label>
          <md-select ng-model="productRmAsso.product.id" name="product"  ng-disabled="isReadOnly" ng-required="true" required ng-init="getProducts()">
            <md-option ng-repeat="product in products" ng-value="product.id" >
               {{product.partNumber}}
            </md-option>
          </md-select>
          <div ng-messages="productRMAssociationInformation.product.$error">
                 <div ng-message="required">Please Select Product</div>
              </div>
        </md-input-container>
        </div>
        
          <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm type="password">
              <label class="input-filed-label">QUANTITY*</label>
              
              <input type="number" placeholder="Enter quantity" ng-model="productRmAsso.quantity"  name="quantity" required ng-disabled="isReadOnly">
              <div ng-messages="productRMAssociationInformation.quantity.$error">
                 <div ng-message="required">Please Enter Quantity</div>
              </div>
         </md-input-container>   
          </div>
      
         </div>
          
   
      
    </md-dialog-content>
        <md-dialog-actions layout="row">
      <md-button class="md-raised" ng-click="submitInformation(productRMAssociationInformation.$valid,$event)" type="submit" ng-disabled="isReadOnly">SAVE</md-button>
      <md-button class="md-raised" ng-click="answer('not useful')" >CANCEL</md-button>
    </md-dialog-actions>
   
    
  </form>
</md-dialog>






