<div ng-controller="productOrderCtrl">
<div class="erp-information">
<div>
    <md-button class="md-raised" ng-click="showAddNewProductOrder($event);" ng-init="populateProductOrderList();flag=0">ADD
			NEW PRODUCT ORDER</md-button>
</div>
          <input type="text" ng-model="searchText" placeholder="Search by Name">
<md-content class="md-padding">
    <form ng-submit="$event.preventDefault()">
      <p style="font-weight: bold;font-size: 20px">PRODUCT ORDER LIST</p>
     
      <br/>
    </form>
  </md-content>
  <table>
			<tr>
			     <th>PRODUCT</th>
				<th>STATUS</th>
				<th>QUANTITY</th>
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="productOrder in data" >
				<td>{{productOrder.product.name}}</td>
				<td>{{productOrder.status.name}}</td>
				<td>{{productOrder.quantity}}</td>
				<td>
				     <md-button class="md-raised"  ng-click="showEditProductOrder($event,$index)" ng-init="flag=1">EDIT</md-button>
				<!-- <md-button class="md-raised" ng-click="showConfirm($event)">REMOVE</md-button> -->
				<md-button class="md-raised"  ng-click="showConfirm($event,$index)">Remove</md-button>
				
				<md-button class="md-raised" ng-click="viewProductOrderrInformation($event,$index)">VIEW</md-button>
				</td>
				
			</tr>
		</table>
</div>
</div>
