<md-dialog class="statusInfo">
<form name="productInventoryInformation" novalidate>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>{{information}}</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> <md-icon>&#10006;</md-icon>
		</md-button>
	</div>
	</md-toolbar>

	<md-dialog-content>
	<div class="md-dialog-content">
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm type="password">
			<label class="input-filed-label">DESCRIPTION</label> <input
				type="text" ng-model="productInventory.description" required
				name="description" ng-minlength="4" ng-maxlength="255"
				ng-disabled="isReadOnly">
			<div ng-messages="productInventoryInformation.description.$error">
				<div ng-message="required">Description must be required</div>
				<div ng-message="minlength">Description must be grater than 4
					or less than 255 characters</div>
			</div>
			</md-input-container>
		</div>
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">QUANITY AVAILABLE</label> <input
				type="text" ng-model="productInventory.quantityavailable" required
				name="quantityavailable" ng-disabled="isReadOnly"
				onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
			<div
				ng-messages="productInventoryInformation.quantityavailable.$error">
				<div ng-message="required">Please enter available quantity</div>
			</div>
			</md-input-container>
		</div>
		


		<md-input-container style="width:100%"> <label>PRODUCT*</label>
		<md-select ng-model="productInventory.product.id" name="product"
			ng-disabled="isProductreadOnly" ng-required="true" required
			ng-init="getProduct()"> <md-option
			ng-repeat="product in prducts" ng-value="product.id">
		{{product.partNumber}} </md-option> </md-select>
		<div ng-messages="productInventoryInformation.product.$error">
			<div ng-message="required">Please Select Product</div>
		</div>
		</md-input-container>

	</div>

	</md-dialog-content>

	<md-dialog-actions layout="row"> <md-button
		class="md-raised"
		ng-click="submitInformation(productInventoryInformation.$valid,$event)"
		type="submit" ng-disabled="isReadOnly" >SAVE</md-button> <md-button
		class="md-raised" ng-click="answer('not useful')">CANCEL</md-button>
	</md-dialog-actions>

</form>
</md-dialog>






