<md-dialog aria-label="" class="statusInfo">
<form name="productRMAssociationInformation" novalidate>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>{{information}}</h2>
		<span flex></span>
	</div>
	</md-toolbar>

	<md-dialog-content>
	<div class="md-dialog-content">

		<!-- <div layout-gt-sm="row">
			<md-input-container  class="drop-down">
			<label style="color: black;">PRODUCT*</label> <md-select
				ng-model="productRmAsso.product" name="product"
				 ng-required="true" required ng-init="getProducts()">
			<md-option ng-repeat="product in products"
				ng-value="product.productId"> {{product.partNumber}} </md-option> </md-select>
			<div ng-messages="productRMAssociationInformation.product.$error">
				<div ng-message="required">Please Select Product</div>
			</div>
			</md-input-container>
		</div> -->
		
		
		 <div layout-gt-sm="row">
               <md-input-container class="drop-down">
          <label>Product*</label>
          <md-select ng-model="productRmAsso.product.productId" name="product"  ng-disabled="isReadOnly" ng-required="true" required ng-init="getProducts()">
            <md-option ng-repeat="product in products" ng-value="product.productId">
               {{product.partNumber}}
            </md-option>
          </md-select>
          <div ng-messages="productOrderInformation.product.$error">
                 <div ng-message="required">Please Select Product</div>
              </div>
        </md-input-container>
           </div>
		<h2>Raw Material List</h2>
		<table>
			<tr>
				<th>INDEX</th>
				<th>RAW MATERIAL</th>
				<th>QUANTITY</th>
				<th>ACTION</th>
			</tr>

			<tr ng-repeat="rm in productRmAsso.productRMAssociationModelParts">
				<td>{{ $index + 1 }}</td>
				<td>{{rm.rawmaterial.partNumber}}</td>
				<td><input type="number" ng-value="{{rm.quantity}}"></td>
				<td>
					<button type="button" class="multiple-added-delete"
						ng-click="deleteRM($index)" ng-disabled="isReadOnly">Delete</button>
				</td>
			</tr>
		</table>
		<div layout-gt-sm="row">
			<md-input-container> <label
				style="color: black;">RAW MATERIAL</label> <md-select
				ng-model="rawmaterialPart.rawmaterial" ng-disabled="isReadOnly"
				ng-init="rawMaterialId()" name="rawmaterial"> <md-option
				ng-repeat="rawmaterial in RMData" ng-value="rawmaterial">
			{{rawmaterial.partNumber}} </md-option> </md-select>
			<div ng-messages="productRMAssociationInformation.$error"
				ng-show="productRMAssociationInformation.rawmaterial.$dirty">
				{{message}}</div>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">QUANTITY</label> <input
				type="number" ng-model="rawmaterialPart.quantity" name="quantity"
				ng-disabled="isReadOnly"
				ng-change="addQuantity(rawmaterialPart.quantity)" min="1">
				<div ng-messages="productRMAssociationInformation.quantity.$error">
				   <div ng-message="min">Quantity should be greater then 0</div>
				</div>
			</md-input-container>
			<button type="button" class="added-multiple"
				ng-click="addRawMaterial()"
				ng-disabled="!(!!rawmaterialPart.rawmaterial && !!rawmaterialPart.quantity)">Add
				Raw Material</button>
		</div>
	</div>
	</md-dialog-content>
	<md-dialog-actions layout="row"> <md-button
		class="md-raised"
		ng-click="submitProductRMAssociationInformation(productRMAssociationInformation.$valid,$event)"
		type="submit" ng-disabled="isReadOnly">SAVE</md-button> <md-button
		class="md-raised" ng-click="answer('not useful')">CANCEL</md-button>
	</md-dialog-actions>


</form>
</md-dialog>


 
 