<div ng-controller="productRMAssociationCtrl">
	<div class="erp-information">
		<div>
			<md-button class="md-raised md-primary add-new-btn" ng-click="showAddNewProductRMAssociation($event);"  ng-init="populateProductRmAssoList();flag=0">ADD
			NEW PRODUCT RM ASSOCIATION LIST</md-button>
		</div>
		<md-input-container class="md-block" flex-gt-sm type="password">
			<input type="text"  ng-model="searchText"  name="password" placeholder="" class="search-text">
			</md-input-container>
		<h1 class="table-header">PRODUCT RAW MATERIAL ASSOCIATION LIST</h1>
		<table>
			<tr>
				<th>PRODUCT</th>
				<th>RAW MATERIAL</th>
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="productRMAssociation in data" >
				<td>{{productRMAssociation.name}}</td>
				<td >
				   <table>
				      <th>RAW MATERIAL</th>
				      <th>QUANTITY</th>
				      <tr ng-repeat=" rm in productRMAssociation.productRMAssociationModelParts">
				          <td>{{rm.rawmaterial.name}}</td>
				          <td>{{rm.quantity}}</td>
				      </tr>
				   </table>
				</td>
				<td>
				     <md-button class="md-raised"  ng-click="showEditproductRMAssociation($event,$index)" ng-init="flag=1">EDIT</md-button>
				<md-button class="md-raised"  ng-click="showConfirm($event,$index)">Remove</md-button>
				
				<md-button class="md-raised" ng-click="viewproductRMAssociationInformation($event,$index)">VIEW</md-button>
				</td>
				
			</tr>
		</table>
		
		<div ng-show="isProductRmAssociationPresent" class="active-information">
		         Currently there are no active Product Raw material Association.Please add new Product Raw material Association.
		</div>



	</div>

</div>
