<div ng-controller="productOrderCtrl">
<div class="erp-information">
<div>
    <md-button class="md-raised md-primary" ng-click="showAddNewProductOrder($event);" ng-init="populateProductOrderList();flag=0" style=" background-color: rgb(126, 137, 213);">ADD
			NEW PRODUCT ORDER</md-button>
</div>
 <md-input-container class="md-block" flex-gt-sm type="password">
			<input type="text"  ng-model="searchText"  name="password" placeholder="Search by Product Order" class="search-text">
			</md-input-container>
  <h1 class="table-header">PRODUCT ORDER LIST</h1>
  <table>
			<tr>
			    <!--  <th>ID</th> -->
				<th>CLIENT</th>
				<th>DESCRIPTION</th>
				<th>ORDER STATUS</th>
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="productOrder in data" >
				<td>{{productOrder.client.companyname}}</td>
				<td>{{productOrder.description}}</td>
				<td>{{productOrder.status.name}}</td>
				<td>
				     <md-button class="md-raised"  ng-click="showEditProductOrder($event,$index)" ng-init="flag=1">EDIT</md-button>
				<!-- <md-button class="md-raised" ng-click="showConfirm($event)">REMOVE</md-button> -->
				<md-button class="md-raised"  ng-click="showConfirm($event,$index)">Remove</md-button>
				
				<md-button class="md-raised" ng-click="viewProductOrderrInformation($event,$index)">VIEW</md-button>
				</td>
				
			</tr>
		</table>
		<div ng-show="isProductOrderPresent" class="active-information">
		    Currently there are no active Product Order.Please add new product Order.
		</div>
</div>
</div>
