<div ng-controller="productInventoryCtrl">
	<div class="erp-information">
		<div>
			<md-button class="md-raised md-primary add-new-btn"
				ng-click="showAddNewProductInventory($event)"
				ng-init="populateProductInventoryList();flag=0">ADD NEW
			PRODUCT INVENTORY</md-button>
		</div>
		<md-input-container class="md-block" flex-gt-sm type="password" style="margin-left:2%">
		<input type="text" ng-model="searchText" name="password"
			placeholder="Search by  Name" class="search-text"> </md-input-container>
		<h1 class="table-header">PRODUCT INVENTORY LIST</h1>
		<table>
			<tr>
				<th>NO</th>
				<th>PRODUCT</th>
				<th>AVAILBLE QUANTITY</th>
				<!-- <th>NAME</th> -->
				<!-- <th>RACK NUMBER</th> -->
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="productInventory in data.data | startFrom:currentPage*pageSize | limitTo:pageSize ">
				<td>{{(currentPage*pageSize) + ($index+1) }}</td>
				<td>{{productInventory.product.partNumber}}</td>
				<td>{{productInventory.quantityavailable}}</td>
				<!-- <td>{{productInventory.racknumber}}</td> -->
				<td style="text-align: center;"><md-button class="md-raised"
						ng-click="showEditProductInventory($event,$index)"
						ng-init="flag=1" style="background: rgba(63, 81, 181, 0.72);color: white;">EDIT</md-button> 
					<md-button class="md-raised" ng-click="showConfirm($event,$index)" style="background: rgba(63, 81, 181, 0.72);color: white;">Remove</md-button>

					<md-button class="md-raised"
						ng-click="viewProductInventoryInformation($event,$index)" style="background: rgba(63, 81, 181, 0.72);color: white;">VIEW</md-button>
				</td>

			</tr>
		</table>
		  <md-dialog-actions layout="row" style="background: rgb(230, 230, 230);margin-left:30%;margin-top:2%"> <md-button
		class="md-raised"
		type="button" ng-disabled="currentPage == 0" ng-click="gotoPrevPage()">Previous Page</md-button> <md-button
		class="md-raised" ng-disabled="currentPage >= data.data.length/pageSize - 1" ng-click="gotoNextPage()">Next Page</md-button>
	</md-dialog-actions>
		<div ng-show="isProductInventoryPresent" class="active-information">Currently
			there are no active Product inventorys.Please add new Product
			inventory.</div>
	</div>
</div>
