<div ng-controller="productRMAssociationCtrl">
	<div class="erp-information">
	<input type="text" ng-model="searchText" placeholder="Search by Name" class="search-text" autofocus>
		<div>
			<md-button class="md-raised" ng-click="showAddNewProductRMAssociation($event);"  ng-init="populateProductRmAssoList();flag=0">ADD
			NEW PRODUCT RM ASSOCIATION LIST</md-button>
		</div>
		<h1 class="table-header">PRODUCT RAW MATERIAL ASSOCIATION LIST</h1>
		<table>
			<tr>
				<th>PRODUCT</th>
				<th>RAW MATERIAL</th>
				<th>QUANTITY</th>
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="productRMAssociation in data" >
				<td>{{productRMAssociation.product.name}}</td>
				<td>{{productRMAssociation.rawmaterial.name}}</td>
				<td>{{productRMAssociation.quantity}}</td>
				<td>
				     <md-button class="md-raised"  ng-click="showEditproductRMAssociation($event,$index)" ng-init="flag=1">EDIT</md-button>
				<!-- <md-button class="md-raised" ng-click="showConfirm($event)">REMOVE</md-button> -->
				<md-button class="md-raised"  ng-click="showConfirm($event,$index)">Remove</md-button>
				
				<md-button class="md-raised" ng-click="viewproductRMAssociationInformation($event,$index)">VIEW</md-button>
				</td>
				
			</tr>
		</table>
		
		<div ng-show="isProductRmAssociationPresent" class="active-information">
		         Currently there are no active Product Raw material Association.Please add new Product Raw material Association.
		</div>



	</div>

</div>
