<div ng-controller="productOrderCtrl">
<div class="erp-information">
 <input type="text" ng-model="searchText" placeholder="Search by Name" class="search-text" autofocus>
<div>
    <md-button class="md-raised" ng-click="showAddNewProductOrder($event);" ng-init="populateProductOrderList();flag=0">ADD
			NEW PRODUCT ORDER</md-button>
</div>
  <h1 class="table-header">PRODUCT ORDER LIST</h1>
  <table>
			<tr>
			    <!--  <th>ID</th> -->
				<th>CLIENT</th>
				<th>DESCRIPTION</th>
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="productOrder in data" >
				<td>{{productOrder.client.companyname}}</td>
				<td>{{productOrder.description}}</td>
				<td>
				     <md-button class="md-raised"  ng-click="showEditProductOrder($event,$index)" ng-init="flag=1">EDIT</md-button>
				<!-- <md-button class="md-raised" ng-click="showConfirm($event)">REMOVE</md-button> -->
				<md-button class="md-raised"  ng-click="showConfirm($event,$index)">Remove</md-button>
				
				<md-button class="md-raised" ng-click="viewProductOrderrInformation($event,$index)">VIEW</md-button>
				</td>
				
			</tr>
		</table>
		<div ng-show="isProductOrderPresent">
		    Currently there are no active Product Order.Please add new product Order.
		</div>
</div>
</div>
