<md-dialog aria-label="" class="statusInfo">
  <form name="productRMAssociationInformation"  novalidate>
  
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{information}}</h2>
        <span flex></span>
       <!--  <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button> -->
      </div>
    </md-toolbar>

    <md-dialog-content >
      <div class="md-dialog-content" >
       
       <div layout-gt-sm="row">
          <md-input-container ng-init="getProducts()">
          <label style="color: black;">PRODUCT*</label>
          <md-select ng-model="productRmAsso.product" name="product" ng-disabled="productIdReadOnly" ng-required="true" required   >
            <md-option ng-repeat="product in products" ng-value="product.productId" >
               {{product.partNumber}}
            </md-option>
          </md-select>
          <div ng-messages="productRMAssociationInformation.product.$error">
                 <div ng-message="required">Please Select Product</div>
              </div>
        </md-input-container>
        </div>
        <h2>Raw Material List</h2>
		<table>
			<tr>
				<th>INDEX</th>
				<th>RAW MATERIAL</th>
				<th>QUANTITY</th>
				<th>ACTION</th>
			</tr>
			
			<tr ng-repeat="rm in productRmAsso.productRMAssociationModelParts">
			    <td>{{ $index + 1 }}</td>
				  <td>{{rm.rawmaterial.name}}</td>
				<td><input type="number"
					ng-value="{{rm.quantity}}"></td>
				<td>
				     <button type="button" style="height: 40px" ng-click="deleteRM($index)" ng-disabled="isReadOnly">Delete</button>
               </td>	
			</tr>
			
			
			
			
		</table>

       <!--  <form novalidate name="form1"> -->
           <div layout-gt-sm="row">
			<md-input-container >
          <label style="color: black;">RAW MATERIAL</label>
          <md-select ng-model="rawmaterialPart.rawmaterial"   ng-disabled="isReadOnly"  ng-init="rawMaterialId()" name="rawmaterial" >
            <md-option ng-repeat="rawmaterial in RMData" ng-value="rawmaterial">
               {{rawmaterial.name}}
            </md-option>
          </md-select>
          <!--  <div ng-show=" productRMAssociationInformation.rawmaterial.$error.message" class="error-msg">{{message}}</div> -->
           <div ng-messages="productRMAssociationInformation.$error" ng-show="productRMAssociationInformation.rawmaterial.$dirty">
                <!--  <div ng-message="message">{{message}}</div> -->{{message}}
              </div>
        </md-input-container>
			 <md-input-container class="md-block" flex-gt-sm>
            <label class="input-filed-label">QUANTITY</label>
            <input type="number" ng-model="rawmaterialPart.quantity"  name="quantity" ng-disabled="isReadOnly" ng-change="addQuantity(rawmaterialPart.quantity)">
                <div ng-show=" productRMAssociationInformation.quantity.$error.message" class="error-msg">{{message}}</div>
          </md-input-container>
          <button type="button" style="height: 40px;margin-top: 2%" ng-click="addRawMaterial()" ng-disabled="!(!!rawmaterialPart.rawmaterial && !!rawmaterialPart.quantity)" >Add Raw Material</button>
		</div>
        
      <!--   </form> -->
		
	</div>
         
         
   
      
    </md-dialog-content>
        <md-dialog-actions layout="row">
      <md-button class="md-raised" ng-click="submitProductRMAssociationInformation(productRMAssociationInformation.$valid,$event)" type="submit" ng-disabled="isReadOnly">SAVE</md-button>
      <md-button class="md-raised" ng-click="answer('not useful')" >CANCEL</md-button>
    </md-dialog-actions>
   
    
  </form>
</md-dialog>






