<div ng-controller="productStoreCtrl">
<div class="erp-security" ng-init="getProductionPlanByDate()" >
 <div class="header">PRODUCT STORE</div>
  <div style="text-align: right;font-weight: bold;">
             <span>Date</span>
             <span>{{currentDate}}</span>
          </div>
     <table>
        <tr >
          <th>PRODUCT ID</th>
          <th>PRODUCT QUANTITY</th>
          <th>PASS QUANTITY</th>
          <th>FAIL QUANTITY</th>
          <th>REMARK</th>
        </tr>
        <tr ng-repeat="productionplan in productionPlans">
           <td>{{productionplan.product.id}}</td>
           <td>{{productionplan.targetQuantity}}</td>
           <td><md-input-container class="md-block" flex-gt-sm>
				<input type="number" ng-model="productionplan.passQuantity" name="remark">
				</md-input-container></td>
			<td>
			   <md-input-container class="md-block" flex-gt-sm>
				<input type="number" ng-model="productionplan.failQuantity" name="remark">
				</md-input-container>
			</td>	
			<td>
			   <md-input-container class="md-block" flex-gt-sm>
				<input type="text" ng-model="productionplan.remark" name="remark">
				</md-input-container>
			</td>
        </tr>
     </table>
      <div style="margin-top: 5%;margin-left: 70%;padding-bottom: 20px">
             <md-dialog-actions layout="row">
      <md-button class="md-raised" ng-click="saveProductQuality()" ng-disabled="isReadOnly"  type="submit">SAVE</md-button>
      <md-button class="md-raised" ng-click="answer('not useful')">CANCEL</md-button>
    </md-dialog-actions>
        </div>
</div>
</div>