<div ng-controller="reportCtrl" class="erp-information"	>
	<div >
		<div>
			<md-input-container style="width:100%"> <label>REPORT </label> 
				<md-select ng-model="selectedReport"
						name="report" value="report.id" ng-disabled="isReadOnly"
						ng-init="setreports();" 
						ng-change="fetchReportData()" required> 
						<md-option ng-repeat="report in reports" ng-value="report.id">{{report.report_Name}} 
						</md-option> 
				</md-select>
			</md-input-container>
		</div>
	</div>
	
	<div class="erp-information">
		<div ng-repeat="input in data">
			 <md-input-container style="margin-right: 10px;">
				<label>{{input.reportinputparameter.displayName}}</label>
				<input ng-if="input.reportinputparameter.inputType === 'Date' || input.reportinputparameter.inputType === 'admin'" ng-model="input.value" type="{{input.reportinputparameter.inputType}}" placeholder="{{input.reportinputparameter.displayName">
				<md-select ng-if="input.reportinputparameter.inputType === 'select'"
							ng-model="input.value"
							name="report" value="item.id"
							aria-label="{{input.reportinputparameter.displayName}}" required> 
							<md-option ng-repeat="item in input.reportinputparameter.data" ng-value="item.id">{{item.description}} 
							</md-option> 
				</md-select>
			</md-input-container>
		</div>
	
	</div>	
</div>