<md-dialog class="dialogueInfo erp-dialog">
<form name="RMInventaryInformation" novalidate>
	 <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{information}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">&#10006;</md-icon>
        </md-button>
      </div>
    </md-toolbar>
	<md-dialog-content>
	<div class="md-dialog-content">
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">QUANTITY AVAILABLE</label> <input
				type="text" ng-model="rmInventary.quantityAvailable"
				value="rmInventary.quantityAvailable" required
				name="quantityAvailable" ng-disabled="isReadOnly">
			<div ng-messages="RMInventaryInformation.quantityAvailable.$error">
				<div ng-message="required">Please enter available quantity</div>
			</div>
			</md-input-container>
		</div>
		<div layout-gt-sm="row">
			<md-input-container class="drop-down"> <label
				style="color: black;">RAW MATERIAL</label> <md-select
				ng-model="rmInventary.rawmaterial.id" name="RMInventory"
				value="RMInventory.id" ng-disabled="isRmVisible" ng-required="true"
				rrquired> <md-option ng-repeat="RMInventory in data"
				ng-value="RMInventory.id"> {{RMInventory.partNumber}} </md-option> </md-select>
			<div ng-messages="RMInventaryInformation.RMInventory.$error">
				<div ng-message="required">Please Select Raw Material</div>
			</div>
			</md-input-container>
		</div>
	</div>
	</md-dialog-content>
	<md-dialog-actions layout="row"> <md-button
		class="md-raised"
		ng-click="submitRMInventaryInformation(RMInventaryInformation.$valid,$event)"
		type="submit" ng-disabled="isReadOnly" >SAVE</md-button> <md-button
		class="md-raised" ng-click="answer('not useful')">CANCEL</md-button>
	</md-dialog-actions>

</form>
</md-dialog>






