<md-dialog aria-label="Mango (Fruit)" class="dialogueInfo" ng-init="getRmForOrder($index)">
<!-- <md-dialog aria-label="Mango (Fruit)" class="dialogueInfo"> -->
  <form name="RMOrderInformation"  novalidate>
  
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}}</h2>
        <span flex></span>
      <!--   <md-button class="md-icon-button" ng-click="cancel()">
        </md-button> -->
      </div>
    </md-toolbar>

    <md-dialog-content >
      <div class="md-dialog-content" >
       
      <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label  class="input-filed-label">NAME</label>
            <input type="text" ng-model="rmOrder.name" value="rmOrder.name"  required name="name" ng-disabled="isReadOnly"  >
             <div ng-messages="RMOrderInformation.name.$error">
            <div ng-message="required">Please enter name</div>
          </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm type="password">
            <label class="input-filed-label">DESCRIPTION</label>
            <input type="text" ng-model="rmOrder.description" value="rmOrder.description" required name="description"  ng-disabled="isReadOnly">
            <div ng-messages="RMOrderInformation.description.$error">
              <div ng-message="required">please enter description</div>
            </div>
          </md-input-container>
        </div>
      
        <div layout-gt-sm="row">
          
 			 <md-input-container class="md-block" flex-gt-sm>
            <label class="input-filed-label">TOTAL PRICE</label>
            <input type="number" ng-model="rmOrder.totalprice" value="{{totalPrices}}"   name="totalprice"  ng-disabled="isReadOnly">
              <div ng-messages="RMOrderInformation.totalprice.$error">
                 <div ng-message="required">Please enter total price</div>
              </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm type="password">
            <label class="input-filed-label">TAX</label>
            <input type="number" ng-model="rmOrder.tax" value="{{tax}}"  name="tax" ng-disabled="isReadOnly">
            <div ng-messages="RMOrderInformation.tax.$error">
             <div ng-message="required">please enter tax</div>
            </div>
          </md-input-container>
        </div>
        
         <div layout-gt-sm="row">
         

          <md-input-container class="md-block" flex-gt-sm type="password">
            <label class="input-filed-label">ACTUAL PRICE</label>
            <input type="number" ng-model="rmOrder.actualPrice" value="{{productSubTotal}}"   name="actualPrice" ng-disabled="isReadOnly">
            <div ng-messages="RMOrderInformation.actualPrice.$error">
            <div ng-message="required">Please enter actual price </div>
            </div>
          </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
            <label class="input-filed-label">OTHER CHARG</label>
            <input type="number" ng-model="rmOrder.otherCharges" ng-change="updateOtherCharges()"  name="otherCharges"  ng-disabled="isReadOnly">
              <div ng-messages="RMOrderInformation.otherCharges.$error">
                 <div ng-message="required">Please enter charges</div>
              </div>
          </md-input-container>
          
        </div>
        <div layout-gt-sm="row">
         <md-input-container>
          <label style="color: black;">VENDOR </label>
          <md-select ng-model="selectedVendor" name="vendorId" ng-disabled="isReadOnly" ng-init="displayVendorId()" name="vendorId" required ng-change="vendorRmList($index)">
            <md-option ng-repeat="vendorId in vendorData" ng-value="vendorId.id" >
               {{vendorId.companyName}}
            </md-option>
             <div ng-messages="RMOrderInformation.vendorId.$error">
                 <div ng-message="required">Please select Vendor </div>
              </div>
          </md-select>
        </md-input-container>
        
        </div>
          
         <h2>Raw Material List</h2>
        <table>
          <tr>
          <th>RAW MATERIAL</th>
          <th>QUANTITY</th>
            <th>ACTION</th>
          </tr>
          <tr ng-repeat="orderRawMaterial in orderRawMaterials">
           <td >{{orderRawMaterial.rawmaterial.name}}</td>
          <td><input type="number" ng-value="{{orderRawMaterial.quantity}}" ></td>
          <td>
             <button type="button" style="height: 40px" ng-click="deleteRM($index)">Delete</button>
               
          </td>
          </tr>
          <tr ng-repeat="orderRawMaterial in rmOrderList">
           <td>{{orderRawMaterial.rawmaterial.name}}</td>
          <td ><input type="number" ng-value="{{orderRawMaterial.quantity}}" ng-disabled="isReadOnly"></td>
          <td>
             <button type="button" style="height: 40px" ng-click="deleteRM($index)" ng-disabled="isReadOnly">Delete</button>
               
          </td>
          </tr> 
          
        </table>
           <div layout-gt-sm="row" ng-show="displayAddRM">
         <md-input-container >
          <label style="color: black;">RAW MATERIAL</label>
          <md-select ng-model="orderRawMaterial.rawmaterial" name="rawmaterial" value="rawmaterial.id" ng-disabled="isReadOnly"  name="rawMaterialId" >
            <md-option ng-repeat="rawmaterial in vendorRmList" ng-value="rawmaterial.rawmaterial" >
               {{rawmaterial.rawmaterial.name}}
            </md-option>
          </md-select>
        </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label class="input-filed-label">QUANTITY</label>
            <input type="text" ng-model="orderRawMaterial.quantity"  name="quantity" ng-disabled="isReadOnly">
           
          </md-input-container>
         
         <button type="button" style="height: 40px;margin-top: 2%" ng-click="addOrderRawMaterial()" >Add Raw Material</button>
       
         </div>
          
         </div>
  
    </md-dialog-content>

    <md-dialog-actions layout="row">
      
      <!-- <md-button class="md-raised" ng-click="saveUser($event)" >SAVE</md-button> -->
      <md-button class="md-raised" ng-click="submitRMOrderInformation(RMOrderInformation.$valid,$event)" type="submit" ng-disabled="isReadOnly">SAVE</md-button>
      <md-button class="md-raised" ng-click="answer('not useful')" >CANCEL</md-button>
    </md-dialog-actions>
    
  </form>
</md-dialog>






