<div ng-controller="rmOrderCtrl">
   <div class="erp-information">
        <div>
			<md-button class="md-raised md-primary add-new-btn" ng-click="showAddNewRMOrder($event);"  ng-init="populateRMOrderList();flag=0">ADD
			NEW RMORDER</md-button>
		</div>
		 <md-input-container class="md-block" flex-gt-sm type="password" style="margin-left:2%">
			<input type="text"  ng-model="searchText" name="password" placeholder="Search by Raw Material Order Name" class="search-text">
			</md-input-container>
      <h1 class="table-header">RAW MATERIAL ORDER LIST</h1>
  <table>
			<tr >
			     <th>NO</th>
				<th>NAME</th>
				<th>TAX</th>
				<th>TOTAL PRICE</th>
				<th>ACTUAL PRICE</th>
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="rmOrders in data  | startFrom:currentPage*pageSize | limitTo:pageSize | filter:{ name: searchText } | filter:{ name: searchText }" >
				<!-- <td>{{number}}</td> -->
				<td>{{(currentPage*pageSize) + ($index+1) }}</td>
				<td>{{rmOrders.name}}</td>
				<td >{{rmOrders.tax}}</td>
				<td>{{rmOrders.totalprice}}</td>
				<td>{{rmOrders.actualPrice}}</td>
				<td style="text-align: center;">
				     <md-button class=" md-raised"  ng-click="showRMOrder($event,$index)" style="background: rgba(63, 81, 181, 0.72);color: white;" ng-init="flag=1" type="button">EDIT</md-button>
				<md-button class="md-raised"  ng-click="showConfirm($event,$index)" style="background: rgba(63, 81, 181, 0.72);color: white;">Remove</md-button>
				
				<md-button class="md-raised" ng-click="viewRmOrder($event,$index)"style="background: rgba(63, 81, 181, 0.72);color: white;">VIEW</md-button>
				</td>
			</tr>
		</table>
		  <md-dialog-actions layout="row" style="background: rgb(230, 230, 230);margin-left:30%;margin-top:2%"> <md-button
		class="md-raised"
		type="button" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous Page</md-button> <md-button
		class="md-raised" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next Page</md-button>
	</md-dialog-actions>
		<div ng-show="isRMOrderPresent" class="active-information">
		     Currently there are no active Raw material Order.Please add new Raw material Order.
		</div>
   </div>
</div>