<md-dialog aria-label="Mango (Fruit)" class="dialogueInfo"
	ng-init="getRmForOrder()">
<form name="RMOrderInformation" novalidate>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>{{title}}</h2>
		<span flex></span>
	</div>
	</md-toolbar>
	<md-dialog-content>
	<div class="md-dialog-content">
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">NAME</label> <input type="text"
				ng-model="rmOrder.name" value="rmOrder.name" name="name"
				ng-disabled="isName">
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm type="password">
			<label class="input-filed-label">DESCRIPTION</label> <input
				type="text" ng-model="rmOrder.description"
				value="rmOrder.description"  name="description"
				ng-disabled="isReadOnly">
			</md-input-container>
		</div>
		<div layout-gt-sm="row">
			<md-input-container> <label>VENDOR
			</label> <md-select ng-model="rmOrder.vendor.id" name="vendorId"
				ng-disabled="isVendorId" ng-init="displayVendorId()" name="vendorId"
				required ng-change="getRMListByVendor()">
			<md-option ng-repeat="vendorId in vendorData" ng-value="vendorId.id">
			{{vendorId.companyName}} </md-option> </md-select> 
			 <div ng-messages="RMOrderInformation.vendorId.$error">
				<div ng-message="required">Please select Vendor</div>
			</div>
			</md-input-container>
		</div>
		
		
		
		<h2>Raw Material List</h2>
		<table>
			<tr>
				<th>RAW MATERIAL</th>
				<th>DESCRIPTION</th>
				<th>QUANTITY</th>
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="orderRawMaterial in orderRawMaterials">
				<td>{{orderRawMaterial.rawmaterial.partNumber}}</td>
				<td>{{orderRawMaterial.rawmaterial.description}}</td>
				<td><input type="number"
					ng-value="{{orderRawMaterial.quantity}}" ng-model="orderRawMaterial.quantity" ng-change="updateQuantity(orderRawMaterial.quantity)" name="quantity">
					   <div ng-messages="RMOrderInformation.quantity.$error">
					     <div ng-message="quantityUpdateMessage" class="error-msg">Invalid quantity!! </div>
					   </div>
					</td>
				
				<td>
					<button type="button" style="height: 40px"
						ng-click="deleteRM($index)">Delete</button>
						
				</td>
			</tr>
			<tr ng-repeat="orderRawMaterial in rmOrderList">
				<td style="background-color: white;">{{orderRawMaterial.rawmaterial.partNumber}}</td>
				<td style="background-color: white;">{{orderRawMaterial.rawmaterial.description}}</td>
				<td style="background-color: white;"><input type="number"
					ng-value="{{orderRawMaterial.quantity}}" ng-disabled="isReadOnly" ></td>
				<td style="background-color: white;">
					<button type="button" class="multiple-added-delete"
						 ng-disabled="isReadOnly">Delete</button>
				</td>
			</tr>

		</table>
		<div layout-gt-sm="row" ng-show="displayAddRM">
			<md-input-container> <label
				style="color: black;">RAW MATERIAL</label> <md-select
				ng-model="orderRawMaterial.rawmaterial" name="rawmaterial"
				value="rawmaterial.id" ng-disabled="!rmOrder.vendor.id" name="rawMaterialId">
			<md-option ng-repeat="rawmaterial in vendorRmList"
				ng-value="rawmaterial.rawmaterial">
			{{rawmaterial.rawmaterial.partNumber}} </md-option> </md-select>
			<div ng-show="RMOrderInformation.rawmaterial.$error.message"
				class="error-msg">{{message}}</div>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">QUANTITY</label> <input
				type="number" ng-model="orderRawMaterial.quantity" name="quantity"
				ng-disabled="!rmOrder.vendor.id"
				ng-change="addQuantity(orderRawMaterial.quantity)" ng-maxlength="10" min="1">
				<div ng-messages="RMOrderInformation.quantity.$error">
				   <div ng-message="maxlength">You can enter only 10 digit</div>
				</div>
				<div ng-show="RMOrderInformation.quantity.$error.min"
				class="error-msg">Quantity should be greater then 0</div>
			<div ng-show="RMOrderInformation.quantity.$error.message"
				class="error-msg">{{message}}</div>
			</md-input-container>
			<button type="button" class="added-multiple"
				ng-click="addOrderRawMaterial()" ng-disabled="!(!!orderRawMaterial.rawmaterial && !!orderRawMaterial.quantity)">Add Raw Material</button>
		</div>
		<!-- <p ng-show="rmMsg" style="color:rgb(40,53,147);margin-top: -30px">Please Select Vendor First</p> -->
		<div layout-gt-sm="row">

			<md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">TOTAL PRICE</label> <input
				type="number" ng-model="rmOrder.totalprice"
				name="totalprice" ng-disabled="isPriceReadOnly" value="{{totalprice}}">
			<div ng-messages="RMOrderInformation.totalprice.$error">
				<div ng-message="required">Please enter total price</div>
			</div>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm type="password">
			<label class="input-filed-label">TAX</label> <input type="number"
				ng-model="rmOrder.tax" value="{{tax}}" name="tax"
				ng-disabled="isPriceReadOnly">
			<div ng-messages="RMOrderInformation.tax.$error">
				<div ng-message="required">please enter tax</div>
			</div>
			</md-input-container>
		</div>

		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm type="password">
			<label class="input-filed-label">ACTUAL PRICE</label> <input
				type="number" ng-model="rmOrder.actualPrice"
				value="{{rmOrder.actualPrice}}" name="actualPrice"
				ng-disabled="isPriceReadOnly">
			<div ng-messages="RMOrderInformation.actualPrice.$error">
				<div ng-message="required">Please enter actual price</div>
			</div>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">OTHER CHARG</label> <input
				type="number" ng-model="rmOrder.otherCharges"
				ng-change="updateOtherCharges()" name="otherCharges"
				ng-disabled="isReadOnly" min="0" ng-maxlength="8" >
			<div ng-messages="RMOrderInformation.otherCharges.$error">
				<div ng-message="required">Please enter charges</div>
				<div ng-message="min">Chrages should be greater then 0</div>
				<div ng-message="maxlength">You can enter only 8 digit</div>
			</div>
			</md-input-container>
		</div>
	</div>
	</md-dialog-content>
	<md-dialog-actions layout="row"> <md-button
		class="md-raised"
		ng-click="submitRMOrderInformation(RMOrderInformation.$valid,$event)"
		type="submit" ng-disabled="isReadOnly" >SAVE</md-button> <md-button
		class="md-raised" ng-click="answer('not useful')">CANCEL</md-button>
	</md-dialog-actions>
</form>
</md-dialog>






