<div ng-controller="rmOrderCtrl">

   <div class="erp-information">
        <div id="top">
			<md-button class="md-raised md-primary add-new-btn" ng-click="showAddNewRMOrder($event);"  ng-init="populateRMOrderList();flag=0">ADD
			NEW RMORDER</md-button>
		</div>
		 <md-input-container class="md-block" flex-gt-sm type="password" style="margin-left:2%">
			<input type="text"  ng-model="searchText" name="password" placeholder="Search by Raw Material Order Name" class="search-text">
			</md-input-container>
			<div class="scroll-rm-list">
      <h1 class="table-header">RAW MATERIAL ORDER LIST</h1>
  <div class="">
  <table>
			<tr >
			     <th>NO</th>
				<th>NAME</th>
				<th>TAX</th>
				<th>VENDOR</th>
				<th>STATUS</th>
				<th>TOTAL PRICE</th>
				<th>ACTUAL PRICE</th>
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="rmOrders in data  | startFrom:currentPage*pageSize | limitTo:pageSize  | filter:{ name: searchText }">
				<!-- <td>{{number}}</td> -->
				<td>{{(currentPage*pageSize) + ($index+1) }}</td>
				<td>{{rmOrders.name}}</td>
				<td >{{rmOrders.tax}}</td>
				<td>{{rmOrders.vendor.companyName}}</td>
				<td >{{rmOrders.status.name}}</td>
				<td>{{rmOrders.totalprice}}</td>
				<td>{{rmOrders.actualPrice}}</td>
				<td>
				     <md-button class=" actionButton"  ng-click="showRMOrder($event,$index)" style="" ng-init="flag=1" type="button">EDIT</md-button>
				<md-button class="actionButton"  ng-click="showConfirm($event,$index)" style="">Remove</md-button>
				
				<md-button class="actionButton" ng-click="viewRmOrder($event,$index)"style="">VIEW</md-button>
				</td>
			</tr>
		</table>
		
		  <md-dialog-actions layout="row" style="" class="paginationBtn"> <md-button
		class="md-raised"
		type="button" ng-disabled="currentPage == 0" ng-click="gotoPrevPage()">Previous Page</md-button> <md-button
		class="md-raised" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="gotoNextPage()">Next Page</md-button>
	</md-dialog-actions>
	</div>
	</div>
		<div ng-show="isRMOrderPresent" class="active-information">
		     Currently there are no active Raw material Order.Please add new Raw material Order.
		</div>
   </div>
</div>