<div ng-controller="securityCtrl">
<div class="erp-security">
 <p style="font-weight: bold;font-size: 20px">SECURITY CHECK</p>
<form  class="login-form" name="securityInformation" novalidate style="width: 900px">
<fieldset>
<div class="loginForm" >
   <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label  class="input-filed-label">INVOICE NUMBER </label>
            <input type="text" required name="invoiceNumber" ng-model="invoice_No" value="invoice_No">
             <div ng-messages="securityInformation.invoiceNumber.$error">
            <div ng-message="required">Please enter Invoice Number</div>
           
          </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm type="password">
            <label class="input-filed-label">VENODR NAME</label>
            <input type="text" required name="vendorName" ng-model="vendorname" value="vendorname" >
            <div ng-messages="securityInformation.vendorName.$error">
              <div ng-message="required">Please Enter Vendor name</div>
            </div>
          </md-input-container>
        </div>
         <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label  class="input-filed-label">VEHICLE NUMBER</label>
            <input type="text" required name="vehicleName" ng-model="vehicleNo"    >
             <div ng-messages="securityInformation.vehicleName.$error">
            <div ng-message="required">Please enter Vehicle Number</div>
          </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm >
            <label class="input-filed-label">DRIVER NAME</label>
            <input type="text" required name="driverName" ng-model="driver_Name" value="driver_Name" >
            <div ng-messages="securityInformation.driverName.$error">
              <div ng-message="required">Please Enter Driver Name</div>
            </div>
          </md-input-container>
        </div>
         <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label  class="input-filed-label">IN TIME</label>
            <input type="time"  name="inTime" ng-model="intime" value="intime"  id="intime">
             <!-- <div ng-messages="securityInformation.inTime.$error">
            <div ng-message="required">Please enter exact IN Time</div> -->
            
          </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm >
            <label class="input-filed-label">OUT TIME</label>
            <input type="time"  name="outTime" ng-model="outtime" value="outtime" id="outtime"  ng-change='checkErr(intime,outtime)' >
            <div ng-messages="securityInformation.outTime.$error">
              <div ng-message="required">Please Enter Out Time</div>
            </div>
          </md-input-container>
          <span>{{errMessage}}</span>
        </div>
         <md-input-container class="md-block" flex-gt-sm >
            <label class="input-filed-label">DESCRIPTION</label>
            <input type="text" required name="description" ng-model="description" value="description" >
            <div ng-messages="securityInformation.description.$error">
              <div ng-message="required">Please Enter Description</div>
            </div>
          </md-input-container>
         <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm type="password">
              <label class="input-filed-label">DATE[MM/DD/YYYY]*</label>
              
              <input type="date" placeholder="Enter date of birth" ng-model="createDate "  name="createDate" >
              <div ng-messages="securityInformation.createDate.$error">
                 <div ng-message="required">Please Enter Date</div>
              </div>
         </md-input-container> 
         </div>
          <div layout-gt-sm="row">
         <md-input-container>
          <label style="color: black;">PO.NO*</label>
          <md-select ng-model="rawMaterialOrders.id" name="rawMaterial" ng-init="getRMInformation()" ng-change="displayRMList($index)">
            <md-option ng-repeat="rawMaterial in rawMaterialOrders" ng-value="rawMaterial.id"  >
               {{rawMaterial.name}}
            </md-option>
          </md-select>
         <!--  <div ng-messages="securityInformation.rawMaterial.$error" >
                 <div ng-message="required">Please Select P.O number</div>
              </div> -->
        </md-input-container>
        </div>
        <div layout-gt-sm="row">
      
               <md-input-container>
          <label style="color: black;">STATUS*</label>
          <md-select ng-model="rawmaterialorderinvoice.id" name="statusId"   ng-init="displayStatusId()" name="statusId" ng-change="displayStatusInformationList($index)" >
            <md-option ng-repeat="statusId in statusData" ng-value="statusId.id" >
               {{statusId.name}}
            </md-option>
          </md-select>
          <div ng-messages="RMOrderInformation.statusId.$error">
                 <div ng-message="required">Please select status </div>
              </div>
        </md-input-container>
        </div>
        <h3>Raw Material List</h3>
        <table >
        <tr>
          <th>RAW MATERIAL NAME</th>
          <th>QUANTITY</th>
        
        </tr>
        <tr ng-repeat="rawmaterial in rawMaterialList">
          <td>{{rawmaterial.name}}</td>
          <td>
              <md-input-container class="md-block" flex-gt-sm>
            <label class="input-filed-label">QUANTITY</label>
            <input type="text" ng-model="rawMaterialList.quantity"  name="quantity"  onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
            <div ng-messages="securityInformation.quantity.$error">
             <div ng-message="required">please enter quantity </div>
            <div ng-message="pattern">Please enter Digit only</div>
            </div>
          </md-input-container>
          </td>
        </tr>
       
        </table>
           <h3>Security Status Check List</h3>
         <table >
        <tr>
          <th>VENDOR NAME</th>
          <th>VEHICAL NUMBER</th>
        
        </tr>
        <tr ng-repeat="statusInfo in statusInformationList">
          <td>{{statusInfo.vendorname}}</td>
          <td>
             {{statusInfo.vehicleNo}}
          </td>
        </tr>
       
        </table>
        <div style="margin-top: 5%;margin-left: 70%">
         <md-dialog-actions layout="row">
      <!-- <md-button class="md-raised" ng-click="saveUser($event)" >SAVE</md-button> -->
      <md-button class="md-raised" ng-click="submitInformation(securityInformation.$valid,$event)" type="submit" ng-disabled="isReadOnly">SAVE</md-button>
      <md-button class="md-raised" ng-click="answer('not useful')" >CANCEL</md-button>
    </md-dialog-actions>
        </div>
        
        </div>
        </fieldset>
</form>
</div>
</div>