<div ng-controller="statusCtrl">
<div class="erp-information">
   <input type="text" ng-model="searchText" placeholder="Search by Name" class="search-text">
    <div>
			<md-button class="md-raised" ng-click="showAddNewStatus($event)"  ng-init="populateStatusList();flag=0">ADD NEW STATUS</md-button>
		</div>
       <h1 style="margin-left: 35%">STATUS LIST</h1>
  <table>
			<tr>
				<th>NAME</th>
				<th>TYPE</th>
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="status in data |  filter:{ name: searchText }" >
				<td>{{status.name}}</td>
				<td>{{status.type}}</td>
				<td>
				     <md-button class="md-raised"  ng-click="showEditStatus($event,$index)" ng-init="flag=1">EDIT</md-button>
				<!-- <md-button class="md-raised" ng-click="showConfirm($event)">REMOVE</md-button> -->
				<md-button class="md-raised"  ng-click="showConfirm($event,$index)">Remove</md-button>
				
				<md-button class="md-raised" ng-click="viewStatusInformation($event,$index)">VIEW</md-button>
				</td>
				
			</tr>
		</table>
		<div ng-show="isUnitInPresent">
		   Currently there are no active Units.Please add new unit.
		</div>
</div>
</div>