<div ng-controller="storeOutCtrl">

<div class="erp-security">
<div class="qualitycheck">
<div class="header">STORE OUT</div>
<div class="qualityInspection">
<form   name="storeOutInformation" novalidate >
<div >
   <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm type="password">
          
             <label style="color: black;">PRODUCT</label>
          <md-select ng-model="product.id" name="vendorId" ng-disabled="isReadOnly" ng-init="getProducts()" name="product" required ng-change="getProductRMAssociation($index)">
            <md-option ng-repeat="product in products" ng-value="product.id" >
               {{product.product.name}}
            </md-option>
             <div ng-messages="storeOutInformation.product.$error">
                 <div ng-message="required">Please select Product </div>
              </div>
          </md-select>
          </md-input-container>
          
        </div>
         <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label  class="input-filed-label">DESCRIPTION</label>
            <input type="text" required name="description" ng-model="description">
             <div ng-messages="storeOutInformation.description.$error">
            <div ng-message="required">Please enter Description</div>
          </div>
          </md-input-container>
        </div>
        
        <!--  <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm type="password">
              <label class="input-filed-label">DATE[MM/DD/YYYY]*</label>
              
              <input type="date" placeholder="Enter date of birth" ng-model="createDate "  name="createDate" required >
              <div ng-messages="storeOutInformation.createDate.$error">
                 <div ng-message="required">Please Enter Date</div>
              </div>
         </md-input-container> 
         </div> -->
          <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label  class="input-filed-label">QUANTITY TO MANUFACTURE</label>
            <input type="number" required name="quantity" ng-model="manuFactureQuantity" ng-change="updateDispatchQuantity(oldValue,newValue)" >
             <div ng-messages="storeOutInformation.quantity.$error">
            <div ng-message="required">Please enter Quantity</div>
          </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
        </div>
        <h3>Raw Material List</h3>
        <table >
        <tr>
          <th>RAW MATERIAL NAME</th>
          <th>QUANTITY REQUIRED</th>
          <th>QUANTITY DISPATCH</th>
          <!-- <th>REMARK</th> -->
        </tr>
        <tr ng-repeat="rawMaterial in data.data">
          <td>{{rawMaterial.name}}</td>
          <td>{{rawMaterial.quantityRequired}}</td>
          <td>
             <md-input-container class="md-block" flex-gt-sm>
             <input type="number" name="dispatchQuantity" ng-model="rawMaterial.dispatchQuantity" ng-init="0">
             </md-input-container>
          </td>
        <!--   <td>
              <md-input-container class="md-block" flex-gt-sm>
            <input type="number" ng-model="rawmaterial.invoiceQuantity" name="remark">
          </md-input-container>
          </td> -->
        </tr>
       
        </table>

        <div style="margin-top: 5%;margin-left: 70%">
         <md-dialog-actions layout="row">
      <md-button class="md-raised" ng-click="submitInformation(storeOutInformation.$valid,$event)" type="submit" ng-disabled="isReadOnly">SAVE</md-button>
      <md-button class="md-raised" ng-click="restInformation()" type="reset" >CANCEL</md-button>
    </md-dialog-actions>
        </div>
        
     </div>   
</form>
</div>
</div>
</div>
</div>