<div ng-controller="todaysPlanCtrl">
  <div class="erp-information">
	  <form name="todaysProductionPlanForm" novalidate>
	    <div class="table-header">TODAYS PRODUCTION PLAN</div>
	    
	    <div ng-init="getTodaysProductionPlan()">
	        <div class="product-store-date">
		             <span>Date</span>
		             <span>{{currentDate}}</span>
		    </div>
		    <table>
		       <tr>
		       <th>PRODUCT</th>
		       <th>TARGET QUANTITY</th>
		       <th>COMPLETED QUANTITY</th>
		       <th>FAILED QUANTITY</th>
		       <th>QC PASS QUANTITY</th>
		       <th>QC PENDING QUANTITY</th>
		       <th>STORE OUT QUANTITY</th>
		       <th>ACHIEVED QUANTITY</th>
		       <th>REPAIRED QUANTITY</th>
		       <th>REMARK</th>
		       </tr>
		       <tr ng-repeat="product in productList">
		        	<td>{{product.productId.partNumber}}</td>
		        	<td>{{product.targetQuantity}}</td>
		        	<td>{{product.completedQuantity}}</td>
		        	
					<td>
					    <md-input-container class="md-block" flex-gt-sm>
							<input type="number" ng-model="product.failQuantity" name="failedQuantity" ng-value="{{product.failQuantity}}" ng-disabled="true" >
						</md-input-container>
					</td>
					<td>
					    <md-input-container class="md-block" flex-gt-sm>
							<input type="number" ng-model="product.qualityCheckedQuantity" name="failedQuantity" ng-disabled="true" >
						</md-input-container>
					</td>
					<td>
					    <md-input-container class="md-block" flex-gt-sm>
							<input type="number" ng-model="product.qualityPendingQuantity" name="qualityPendingQuantity" ng-disabled="true">
						</md-input-container>
					</td>
					 <td>
		         		<md-input-container class="md-block" flex-gt-sm>
							<input type="number" ng-model="product.storeOutQuantity" name="storeOutQuantity" ng-disabled="true">
						</md-input-container>
					</td>
					
					<td>
		         		<md-input-container class="md-block" flex-gt-sm>
							<input type="number" ng-model="product.achived" name="achivedQuantity{{$index}}"  min="0" ng-change="validateTargetQuantity(product.storeOutQuantity,product.completedQuantity,product.failQuantity,product.qualityPendingQuantity,product.achived,product.qualityCheckedQuantity,$index)">
							<div ng-show="todaysProductionPlanForm.achivedQuantity{{$index}}.$error.min" class="error-msg">Quantity should be greater then 0</div>
							<div ng-show="todaysProductionPlanForm.achivedQuantity{{$index}}.$error.customError" class="error-msg">Please Store out Raw Material if you want to manufacture more products</div>
						</md-input-container>
					</td>
					
					<td>
		         		<md-input-container class="md-block" flex-gt-sm>
							<input type="number" ng-model="product.repairedQuantity" name="repairedQuantity{{$index}}"  min="0" max="{{product.failQuantity}}">
							<div ng-show="todaysProductionPlanForm.repairedQuantity{{$index}}.$error.min" class="error-msg">Quantity should be greater then 0</div>
							<div ng-show="todaysProductionPlanForm.repairedQuantity{{$index}}.$error.max" class="error-msg">Quantity should not be greater then {{product.failQuantity}} </div>
						</md-input-container>
					</td>
					<td>
				  		<md-input-container class="md-block" flex-gt-sm>
							<input type="text" ng-model="product.remark" name="remark" >
							<div ng-messages="todaysProductionPlanForm.remark.$error">
             					<div ng-message="required">please enter Remark </div>
            				</div>
						</md-input-container>
					</td>
		       </tr>
		    </table>
	    </div>
	    <div ng-show="isTodaysProductionPlanPresent" class="active-information">
			  {{message}}
		</div>
	       <div class="todayPlan-save-btn" ng-show="isButton">
	             <md-dialog-actions layout="row">
	      			<md-button class="actionButton" ng-click="submitInformation(todaysProductionPlanForm.$valid,$event)" ng-disabled="isReadOnly" type="submit">SAVE</md-button>
	      			<md-button class="actionButton" ng-click="cancelTodaysProductionPlan()" style="">CANCEL</md-button>
	    		</md-dialog-actions>
	       </div>
	    
	</form>
  </div>
  
</div>


