<div ng-controller="todaysPlanCtrl">
<div class="erp-information">
     <h1>TODAYS PRODUCTION PLAN</h1>
 
         <form name="todaysProductionPlanInformation"  novalidate class="login-form" style="width: 70%">
       <fieldset>
       <div class="productQualityCheck">
          <div style="text-align: right;font-weight: bold;">
             <span>Date</span>
             <span>{{currentDate}}</span>
          </div>
          <div class="product-quality-row">
             <span>Product ID</span>
             <span style="position: absolute;right: 40%">
             <select  ng-model=" products.product.id" ng-init="getProducts()" ng-change="getTidaysProductionPlan($index)" style="width: 220px" >
             <option ng-repeat="product in products" ng-value=" product.product.id"> {{product.product.name}}</option>
             </select>
             </span>
          </div>
          <div class="product-quality-row">
          <span>Target Quantity</span>
          <span style="position: absolute;margin-left: 8%" ><input type="number" ng-model="productsPlan.targetQuantity"> </span>
          </div>
          <div class="product-quality-row">
              <span>Achived quantity</span>
              <span style="position: absolute;right: 40%"><input type="text"  ng-model="productsPlan.achivedQuantity" ng-disabled="true" ></span>
          </div>
          <div class="product-quality-row">
            <span>Dispatch Quantity</span>
            <span style="position: absolute;right: 40%"><input type="text" ng-model="productsPlan.dispatchQuantity"  ng-disabled="true"></span>
          </div>
           <div style="margin-top: 5%;margin-left: 70%">
             <md-dialog-actions layout="row">
      
      <md-button class="md-raised" ng-click="submitTodayProductionPlan()" ng-disabled="isReadOnly" >SAVE</md-button>
      <md-button class="md-raised" ng-click="answer('not useful')">CANCEL</md-button>
    </md-dialog-actions>
        </div>
          </div>
       </fieldset>
       
     </form>
</div>
</div>