<div ng-controller="userCtrl">
	<div class="erp-information" ng-init="populateUserList($event); flag=1">
		<div class="tooltip">
			<md-button class="md-raised md-primary add-new-btn"
				ng-click="showAddNewUser($event);resetUserData()" type="reset">ADD
			NEW USER</md-button>
			<span class="tooltiptext">Add new User here</span>
		</div>

		<md-input-container class="md-block" flex-gt-sm type="password">
		<input type="text" ng-model="searchText" name="password"
			placeholder="Search by First Name" class="search-text"> </md-input-container>
		<div class="scroll-rm-list">
		<h1 class="table-header">USER LIST</h1>
		<table>
			<tr>
				<th>NO</th>
				<th>FIRST NAME</th>
				<th>LAST NAME</th>
				<th>MOBILE</th>
				<th>USER TYPE</th>
				<!-- <th>EMAIL</th> -->
				<th>ACTION</th>
			</tr>
			<tr class="erp-table-row"
				ng-repeat="users in data | startFrom:currentPage*pageSize | limitTo:pageSize |  filter:{ firstName: searchText } ">
				<td>{{(currentPage*pageSize) + ($index+1) }}</td>
				<td>{{users.firstName}}</td>
				<td>{{users.lastName}}</td>
				<td>{{users.mobileNo}}</td>
				<td>{{users.userType.usertypeName}}</td>
			<!-- 	<td>{{users.email}}</td> -->
				<td style="text-align: center;"><md-button class="actionButton "
						ng-click="showEditUser($event,$index)" style="" ng-init="flag=1">EDIT
						</md-button>
					<md-button class="actionButton" ng-click="showConfirm($event,$index)" style="">Remove</md-button>
					<md-button class="actionButton"
						ng-click="viewUserInformation($event,$index)" style="">VIEW</md-button>
						</td>

			</tr>
		</table>
	 <md-dialog-actions layout="row" style="" class="paginationBtn"> <md-button
		class="md-raised"
		type="button" ng-disabled="currentPage == 0" ng-click="gotoPrevPage()">Previous Page</md-button> <md-button
		class="md-raised" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="gotoNextPage()">Next Page</md-button>
	</md-dialog-actions>
	</div>
		<div class="active-information" ng-show="isUserUnavailable">
			Currently there are no active users.Please add new user.</div>



	</div>

</div>
