<div ng-controller="userTypeCtrl">
	<div class="erp-information">
		<div>
			<md-button class="md-raised md-primary add-new-btn"
				ng-click="showAddNewUserType($event);"
				ng-init="populateUserTypeList();flag=0">ADD NEW USER
			TYPE</md-button>
		</div>
		<md-input-container class="md-block" flex-gt-sm type="password" style="margin-left:2%">
		<input type="text" ng-model="searchText" name="password"
			placeholder="Search by User Type Name" class="search-text"> </md-input-container>
		<div class="scroll-rm-list">
		<h1 class="table-header">USER TYPE LIST</h1>
		<table>
			<tr>
				<th>NO</th>
				<th>NAME</th>
				<th>DESCRIPTION</th>
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="userType in data |  filter:{usertypeName: searchText } | startFrom:currentPage*pageSize | limitTo:pageSize">
				<td>{{(currentPage*pageSize) + ($index+1) }}</td>
				<td>{{userType.usertypeName}}</td>
				<td>{{userType.description}}</td>
				<td style="text-align: center;"><md-button class="actionButton"
						ng-click="showEditUserType($event,$index)" ng-init="flag=1" style="" >EDIT</md-button>
					<md-button class="actionButton" ng-click="showConfirm($event,$index)" style="">Remove</md-button>

					<md-button class="actionButton"
						ng-click="viewUserTypeInformation($event,$index)" style="">VIEW</md-button>
				</td>
			</tr>
		</table>
		  <md-dialog-actions layout="row" style="" class="paginationBtn"> <md-button
		class="md-raised"
		type="button" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous Page</md-button> <md-button
		class="md-raised" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next Page</md-button>
	</md-dialog-actions>
	</div>
		<div ng-show="isUnitInPresent">Currently there are no active
			Units.Please add new unit.</div>
	</div>

</div>