<div ng-controller="userTypePageAssoCtrl">
<div class="erp-information">
<div>
    <md-button class="md-raised md-primary" ng-click="showAddNewUserTypePage($event);" ng-init="populateuserTeypePageAsso();flag=0" style=" background-color: rgb(126, 137, 213);">ADD
			NEW USER TYPE PAGE</md-button>
</div>
 <md-input-container class="md-block" flex-gt-sm type="password">
			<input type="text"  ng-model="searchText"  name="password" placeholder="Search by Name" class="search-text">
			</md-input-container>
       <h1 class="table-header">USER TYPE PAGE ASSOCIATION LIST</h1>   
  <table>
			<tr>
			     <th>USER TYPE</th>
				<th>PAGE</th>
				<th>URL</th>
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="userTypePage in data" >
				<td>{{userTypePage.usertype.usertypeName}}</td>
				<td>{{userTypePage.page.pageName}}</td>
				<td>{{userTypePage.page.url}}</td>
				
				<td>
				     <md-button class="md-raised"  ng-click="editUserTypePage($event,$index)" ng-init="flag=1">EDIT</md-button>
				<!-- <md-button class="md-raised" ng-click="showConfirm($event)">REMOVE</md-button> -->
				<md-button class="md-raised"  ng-click="showConfirm($event,$index)">Remove</md-button>
				
				<md-button class="md-raised" ng-click="viewUserTypePage($event,$index)">VIEW</md-button>
				</td>
			</tr>
		</table>
		<div ng-show="isVendorPredent">
		     Currently there are no active user type page.Please add new vendor.
		</div>
</div>
</div>
