<div ng-controller="userCtrl">
	<div class="erp-information" ng-init="populateUserList($event); flag=1" >
		<div>
			<md-button class="md-raised" ng-click="showAddNewUser($event);" >ADD
			NEW USER</md-button>
		</div>
		  <p style="font-weight: bold;font-size: 20px">USER LIST</p>
		<table>
		   <tr>
				<th>FIRST NAME</th>
				<th>LAST NAME</th>
				<th>MOBILE</th>
				<th>USER TYPE</th>
				<th>EMAIL</th>
				<th>ACTION</th>
			</tr>
			<tr>
			  <td><input type="text" ng-model="f.firstName" style="width: 100px;font-size: 12px" placeholder="Search By Name"></td>
			  <td><input type="text" ng-model="f.lastName" style="width: 100px;font-size: 12px" placeholder="search By Last Name"></td>
			  <td><input type="text" ng-model="f.mobile" style="width: 100px;font-size: 12px" placeholder="seacrch By Mobile"></td>
			  <td><input type="text" ng-model="f.mobile" style="width: 100px;font-size: 12px" placeholder="Search By UserType"></td>
			  <td><input type="text" ng-model="f.email" style="width: 100px;font-size: 12px" placeholder="search By Email"></td>
			</tr>
			<tr ng-repeat="users in data |  filter:f" >
				<td>{{users.firstName}}</td>
				<td>{{users.lastName}}</td>
				<td>{{users.mobile}}</td>
				<td>{{users.usertype.usertypeName}}</td>
				<td>{{users.email}}</td>
				<td>
				     <md-button class="md-raised"  ng-click="showEditUser($event,$index)" ng-init="flag=1">EDIT</md-button>
				
				<md-button class="md-raised"  ng-click="showConfirm($event,$index)">Remove</md-button>
				
				<md-button class="md-raised" ng-click="viewUserInformation($event,$index)">VIEW</md-button>
				</td>
				
			</tr>
		</table>
		
    
   <div class="active-information" ng-show="isUserUnavailable">
       Currently there are no active users.Please add new user.
   </div>



	</div>

</div>
