<div ng-controller="userTypePageAssoCtrl">
<div class="erp-information">
<div>
    <md-button class="md-raised" ng-click="showAddNewUserTypePage($event);" ng-init="populateuserTeypePageAsso();flag=0">ADD
			NEW USER TYPE PAGE</md-button>
</div>
          <input type="text" ng-model="searchText" placeholder="Search by Name">
<md-content class="md-padding">
    <form ng-submit="$event.preventDefault()">
      <p style="font-weight: bold;font-size: 20px">USER TYPE PAGE ASSOCIATION</p>
     
      <br/>
    </form>
  </md-content>
  <table>
			<tr>
			     <th>USER TYPE</th>
				<th>PAGE</th>
				<th>URL</th>
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="userTypePage in data" >
				<td>{{userTypePage.usertype.usertypeName}}</td>
				<td>{{userTypePage.page.pageName}}</td>
				<td>{{userTypePage.page.url}}</td>
				
				<td>
				     <md-button class="md-raised"  ng-click="editUserTypePage($event,$index)" ng-init="flag=1">EDIT</md-button>
				<!-- <md-button class="md-raised" ng-click="showConfirm($event)">REMOVE</md-button> -->
				<md-button class="md-raised"  ng-click="showConfirm($event,$index)">Remove</md-button>
				
				<md-button class="md-raised" ng-click="viewUserTypePage($event,$index)">VIEW</md-button>
				</td>
				
			</tr>
		</table>
		<div ng-show="isVendorPredent">
		     Currently there are no active user type page.Please add new vendor.
		</div>
</div>
</div>
