<div ng-controller="userTypeCtrl">
<div class="erp-information">
        <input type="text" ng-model="searchText" placeholder="Search by Name" class="search-text">
    <div>
			<md-button class="md-raised" ng-click="showAddNewUserType($event);"  ng-init="populateUserTypeList();flag=0">ADD NEW USER TYPE</md-button>
		</div>
		<h1 class="table-header">USER TYPE LIST</h1>
  <table>
			<tr>
				<th>NAME</th>
				<th>DESCRIPTION</th>
				<!-- <th>CREATE DATEA</th>
				<th>UPDATE DATE</th> -->
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="userType in data |  filter:{ name: searchText } " >
				<td>{{userType.usertypeName}}</td>
				<td>{{userType.description}}</td>
				<!-- <td>{{units.createdDate}}</td>
				<td>{{units.updatedDate}}</td> -->
				<td>
				     <md-button class="md-raised"  ng-click="showEditUserType($event,$index)" ng-init="flag=1">EDIT</md-button>
				<!-- <md-button class="md-raised" ng-click="showConfirm($event)">REMOVE</md-button> -->
				<md-button class="md-raised"  ng-click="showConfirm($event,$index)">Remove</md-button>
				
				<md-button class="md-raised" ng-click="viewUserTypeInformation($event,$index)">VIEW</md-button>
				</td>
				
			</tr>
		</table>
		<div ng-show="isUnitInPresent">
		   Currently there are no active Units.Please add new unit.
		</div>
</div>
     
</div>